{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "browsers": ["last 2 versions", "IE >= 8"],
          "node": "current"
        },
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-transform-arrow-functions"
  ],
  "env": {
    "static": {
      "plugins": [
        "transform-inline-environment-variables",
        "transform-es2015-template-literals",
        [
          "@babel/plugin-transform-runtime",
          {
            "corejs": false,
            "helpers": false,
            "regenerator": false,
            "useESModules": false
          }
        ],
      ]
    },
  }
}
